.titlePage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.title {
    color: #6D6262;
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.titleButton {
    width:100%;
    position:fixed;
    bottom: 150px;
    justify-items: center;
}
